@import "tailwindcss";

body {
  background: linear-gradient(to bottom, #30C5DB, #581f8df8);
  background-repeat: no-repeat;
  background-attachment: fixed; /* hace que el degradado "llene" toda la página */
  background-size: cover; /* ajusta para cubrir todo el contenido */
  min-height: 100%;
}
