@import "tailwindcss";

body {
  background: linear-gradient(to bottom, #30C5DB, #5142a8f8, #001369f8);
  background-repeat: no-repeat;
  background-attachment: fixed; /* hace que el degradado "llene" toda la página */
  background-size: cover; /* ajusta para cubrir todo el contenido */
  min-height: 100%;
}

/* global.css */
:root {
  --color-principal: #00EEFF;
  --color-gradiente-1: #30C5DB;
  --color-gradiente-2: #1E88B9;
  --color-gradiente-3: #0A3D62;
  --color-gradiente-4: #2D54B7;
}

