---
import Navbar from '../components/Header.astro'
import Hero from '../components/Hero.astro'
import Carrusel from '../components/Promociones.astro'
import Juegos from '../components/Juegos.astro'
import Paquetes from '../components/Paquetes.astro'
import Resenas from '../components/Reseñas.astro'
import Nosotros from '../components/Nosotros.astro'
import Footer from '../components/Footer.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout>
    <Navbar />
    <main>
      <Hero />
      <Carrusel />
      <Juegos />
      <Paquetes />
      <Resenas />
      <Nosotros />
    </main>
    <Footer />
</Layout>
