
<header class="fixed top-0 left-0 w-full h-[70px] flex justify-between items-center px-5 z-50 bg-gradient-to-b from-[#30C5DB] via-[#1E88B9] to-[#0A3D62]">
  <!-- Menú hamburguesa (solo móvil) -->
  <input type="checkbox" id="hamburguesa" class="hidden peer" />
  <label for="hamburguesa" class="md:hidden text-3xl text-white cursor-pointer">&#9776;</label>

  <!-- Logo -->
  <div class="flex items-center">
    <a href="#">
      <img src="/img/logito.png" alt="Logo Egames" class="w-[120px]" />
    </a>
  </div>

  <!-- Menú principal -->
  <nav
    class="hidden md:flex gap-12 peer-checked:flex peer-checked:flex-col peer-checked:absolute peer-checked:top-[70px] peer-checked:left-0 peer-checked:w-full peer-checked:bg-gradient-to-b from-[#30C5DB] via-[#1E88B9] to-[#0A3D62] peer-checked:p-4"
  >
    <a href="#juegos" class="text-white hover:text-[#00eeff] transition">Juegos</a>
    <a href="#promociones" class="text-white hover:text-[#00eeff] transition">Promociones</a>
    <a href="#promociones" class="text-white hover:text-[#00eeff] transition">Recargas</a>
    <a href="#resenas" class="text-white hover:text-[#00eeff] transition">Reseñas</a>
    <a href="#nosotros" class="text-white hover:text-[#00eeff] transition">Sobre Nosotros</a>
    <a href="#contacto" class="text-white hover:text-[#00eeff] transition">Contacto</a>
  </nav>
</header>
