
<main>
  <section class="flex flex-col justify-center items-center text-center h-[70vh] text-white">
    <div>
      <h1 class="text-4xl md:text-6xl font-bold mb-4">Egames</h1>
      <p class="text-lg md:text-2xl mb-6">
        Juegos Digitales para Verdaderos Gamers
      </p>
      <div>
        <a
          href="#juegos"
          class="inline-block px-6 py-3 bg-blue-700 hover:bg-blue-800 transition rounded-lg font-semibold"
        >
          Ver Juegos
        </a>
      </div>
    </div>
  </section>
</main>
